.dicas {
    height: 1000px;
}


.imagem-desenho {
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.dicas-section {
    position: relative;
}

.ol-dicas{
    position: relative;
    right: -15%;
}

.ol-dicas li{
    width: 650px;
    text-align: left;
    margin: 40px 0px;
    padding: 5px 0px;
    background-color: #261C1A;
    border-radius: 10px;
    list-style-type: none;
    font-weight: bold;
    color: white;
}
.ol-estante {
    position: relative;
    right: -6%;
}

.ol-estante li{
    width: 800px;
}

.span-dicas {
    margin: 0px 10px;
    text-align: left;
    padding: 10px 10px;
    background-color:  #DDC8C4;
    border-radius: 100%;
    box-shadow: 1px 1px 10px black;
   color: #261C1A;
}
